= paginator.render do
  %ul.pagination
    = next_page_tag
    %li.total-count
      - total_count = (total_count < page_count) ? "#{(current_count)}+" : total_count.floor
      %span= "#{current_count} / #{total_count} #{pluralized_name}"
